.card {
    width: 320px;
    height: 499px;
    padding: 16px;
    border-radius: 20px;
    background: #fff;
    align-self: center;
}

.card img {
    object-fit: cover;
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

div {
    text-align: center;
    padding: 0 16px;
    margin: 24px 0;
    font-family: 'Outfit';
    display: flex;
    flex-flow: column;
    gap: 16px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0%;
}

p{
    color: #68778D;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2%;
}